<!-- <p>confirmation-page works!</p> -->
<h2>Delivery Details</h2>
<table>
    <tr>
        <td>Order Number: </td>
        <td>{{ everything?.id }}</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td>{{ everything?.address }}</td>
    </tr>
    <tr>
        <td>Pizza Cost: </td>
        <td>{{ cost }}</td>
    </tr>
    <tr>
        <td>Rush: </td>
        <td>{{ everything?.rush }}</td>
    </tr>
    <tr>
        <td>Total Cost: </td>
        <td>{{ totalCost }}</td>
    </tr>
</table>